h1.titulo{
    color:dodgerblue;
    text-align:center
}
h2{
    color:dodgerblue;
    text-align:center;
    font:italic bold 14pt Times, serif
}
.tituloform{
    color:black;
    background-color: aqua;
    font-weight: bold;
}
.label{
    font-weight: bold;
}
.hover{

    border: 2px solid firebrick;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.hover:hover{
    background-color:red;
}
.hover:focus{
    background: yellow;
}
.crear{
    text-align: center;
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*//*tipografía texto*/
}
.crear:hover{
    background-color:red;
}
.crear:focus{
    background: yellow;
}